@model CleanArchMvc.Application.DTOs.ProductDTO

<h2>Products Details</h2>

<div>
    <hr />
    <dl class="row">
        <div>
            <dt class="col-sm-2"> @Html.DisplayNameFor(model => model.Name) </dt>
            <dd class="col-sm-10"> @Html.DisplayFor(model => model.Name) </dd>
        </div>

        <div>
            <dt class="col-sm-2"> @Html.DisplayNameFor(model => model.Description) </dt>
            <dd class="col-sm-10"> @Html.DisplayFor(model => model.Description) </dd>
        </div>

        <div>
            <dt class="col-sm-2"> @Html.DisplayNameFor(model => model.Price) </dt>
            <dd class="col-sm-10"> @Html.DisplayFor(model => model.Price) </dd>
        </div>

        <div>
            <dt class="col-sm-2"> @Html.DisplayNameFor(model => model.Stock) </dt>
            <dd class="col-sm-10"> @Html.DisplayFor(model => model.Stock) </dd> </div>

        <div>
            <dt class="col-sm-2"> @Html.DisplayNameFor(model => model.Image) </dt>
            <dd class="col-sm-10"> 
                @if (!ViewBag.ImageExist)
                {
                    <img src="~/images/noimage.jpg" class="rounded-circle" height="300" width="300" asp-append-version="true" />
                }
                else
                {
                    <img src="~/images/@Model.Image" class="rounded-circle" height="300" width="300" asp-append-version="true" />
                }
            </dd>
        </div>

        <div>
            <dt class="col-sm-2"> @Html.DisplayNameFor(model => model.Category) </dt>
            <dd class="col-sm-10"> @Html.DisplayFor(model => model.Category.Name) </dd>
        </div>
        
    </dl>
</div>

<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>